<div class="span9" id="content">
                      <!-- morris stacked chart -->
                    <div class="row-fluid">

                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Instituição Médica</div>
                            </div>
                            <div class="block-content collapse in">
                              <div class="alert alert-success" ng-show="dataSuccess">
                                  As informações foram salvas com sucesso.
                              </div>
                                <div class="span12">
                                     <form class="form-horizontal" novalidate name="medicalinstitutionform">
                                      <fieldset>
                                        <legend>Cadastro Instituição Médica</legend>
                                        <div>
                                              <span class="badge badge-info">Os campos * são obrigatórios</span>
                                              <p/>
                                        </div>
                                        <div class="control-group">

                                          <label class="control-label" for="nomeFantasia">Nome Fantasia *</label>
                                          <div class="controls">
                                            <input class="span6"  name="nomeFantasia" type="text" placeholder="Informe o Nome Fantasia" required ng-model="medicalInstitutional.nomeFantasia" ng-maxlength=80>
                                            
                                            <div ng-show="medicalinstitutionform.nomeFantasia.$pristine && medicalinstitutionform.nomeFantasia.$dirty && medicalinstitutionform.nomeFantasia.$invalid">                                              
                                                  <span class="error" ng-show="medicalinstitutionform.nomeFantasia.$error.required">Nome Fantasia é obrigatório</span> 

                                            </div>
                                          </div>
                                        </div>

                                        <div class="control-group">
                                          <label class="control-label" for="razaosocial">Razão Social *</label>
                                          <div class="controls">
                                            <input class="span6" id="razaosocial" name="razaosocial" type="text" placeholder="Informe a Razão Social" required ng-model="medicalInstitutional.razaoSocial" ng-maxlength=80>                                            
                                              <span class="error" ng-show="razaoSocialInvalid">Razão social existente</span>
                                                                                      
                                          </div>
                                          </div>

                                        <div class="control-group">
                                          <label class="control-label" for="cnpj">CNPJ *</label>
                                          <div class="controls">
                                            <input class="span6" id="cnpj" type="text" name="cnpj" placeholder="Informe apenas os números" required ng-model="medicalInstitutional.cnpj" ng-disabled="!editCnpj"
                                            ng-pattern="/^\d+$/">
                                             <span ng-show="cnpjInvalid">CNPJ inválido ou existente</span>

                                          </div>
                                        </div>
                                        
                                              
                                        <div class="form-actions">
                                          <button type="submit" class="btn btn-success" ng-disabled="medicalinstitutionform.$invalid" value="salvar" ng-click="save()"><i class="icon-ok"></i> Salvar </button>
                                          <button type="reset" ng-click="reset()"  class="btn"><i class="icon-ban-circle"></i>Limpar</button>
                                          
                                        </div>
                                      </fieldset>
                                    </form>

                                </div>

                            </div>
                        </div>
                        <!-- /block -->
<!--Table -->
<div >
    <!-- block -->
    <div class="block">
      <div class="navbar navbar-inner block-header">
        <div class="muted pull-left">Instituições Médicas Cadastradas</div>
      </div>
      <div class="block-content collapse in">
        <div class="span12">
          <div class="alert alert-success" ng-show="dataRemoveSuccess">Registro excluido com sucesso</div>
          <h4>Últimas Instituições Médicas Cadastradas</h4>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Excluir</th>
                <th>Editar</th>
                <th>Nome Fantasia</th>
                <th>Razão Social</th>
                <th>CNPJ</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="med in listMedicalInstitutional | orderBy:'id':true">
                <td>                  
                  <a href="#removeModal" data-toggle="modal" ng-click="remove(med)" title="remover">
                <div class="btn">
                      <div class="icon-trash"></div>
                    </div>                 
                  </a>                  
                </td> 
                <td><a href ng-click="edit(med)" title="editar">
                    <div class="icon-edit"></div>
                  </a></td>
                <td >{{med.nomeFantasia}}</td>
                <td>{{med.razaoSocial}}</td>
                <td>{{med.cnpj}}</td>
              </tr>
              
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <!-- /block -->
  </div>

  </div>
  <!-- REMOVE CONFIRMATION DIALOG -->
  <div id="removeModal" class="modal hide">
  <div class="modal-header">
    <button data-dismiss="modal" class="close" type="button">&times;</button>
    <h4>Remover Instituição Médica</h4>
  </div>
  <div class="modal-body">
    Tem certeza que deseja remover a Instituição Médica <b>"{{medicalInstitutionalToRemove.nomeFantasia}}"?</b>
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-danger" href="#" ng-click="doRemove()">Sim</a>
    <a data-dismiss="modal" class="btn" href="#">Cancelar</a>
  </div>
</div>

